* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.dropdown-content {
  position: absolute;
  display: none;
}

.dropdown-content a:hover {
  color: #000;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a {
  font-size: 11px;
  font-weight: 400;
  color: #959798;
  text-align: left;
  padding-bottom: 20px;
  line-height: 10px;
}
.header-right .dropdown-content {
  width: 200px;
  background-color: #f6f8f9;
}

.header-ul li:hover .dropdown-content {
  display: block;
  z-index: 1;
}
.App {
  text-align: center;
  background-color: #f6f8f9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav-list {
  transform: translateX(-100%);
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #f6f8f9;
  width: 76%;
  z-index: 3;
}
.header {
  height: 50px;
  padding: 0 20px;
  background: #f6f8f9;
  height: 50px;

  line-height: 50px;
}
.header .header-logo {
  font-size: 13px;
  font-weight: bold;
  color: #fa6980;
  float: left;
  line-height: inherit;
  text-transform: uppercase;
}
.header-mobile {
  display: none;
}
.header-ul li {
  list-style: none;
  margin-right: 20px;
}
.header .header-ul {
  float: right;
  display: inline-flex;
}
.home .img-home {
  position: relative;
  z-index: 1;
}
.img-home .img-one {
  width: 100%;
}
.img-home .img-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-content p {
  padding-bottom: 65px;
}
.img-content .title-img {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}
.img-content p {
  font-size: 16 px;
  font-weight: bold;
  color: #ffffff;
}

.info {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #ffffff;
}

.info .input-info {
  text-align: left;
  padding-bottom: 35px;
}
.input-info .title-info {
  font-size: 13px;
  font-weight: bold;
  color: #202124;
}
.input-info #cars,
#input {
  width: 353px;
  border: 2px solid #ebeded;
  border-radius: 3px;
  padding: 10px 20px;
  outline: none;
  font-size: 13px;
}
.btn-input {
  color: #ffffff;
  font-weight: bold;
  background-color: #fa6980;
  font-size: 11px;
  width: 135px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.title-home {
  font-size: 11px;
  font-weight: bold;
}
.title-home .story {
  color: #000;
  margin-right: 20px;
}
.title-home .world {
  color: #a6adb4;
  margin-left: 20px;
}
.title-home i {
  width: 16px;
  height: 16px;
  color: #000;
  margin-right: 30px;
}
.home .home-icon {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  width: 100%;
}
.row.no-gutter {
  margin: 0;
}
.col.n-g-r {
  padding-right: 0;
}
.col.n-g-l {
  padding-left: 0;
}
.content {
  margin-top: 40px;
}
.content .content-left {
  text-align: left;
}
.content-left p {
  font-size: 24px;
  color: #202124;
  font-weight: bold;
}
.content hr {
  margin: 10px 15px;
}
.content .content-right {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: #a6adb4;
}
.content .content-mid {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: #a6adb4;
}

.content1 p {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: #a6adb4;
}
.content-right i {
  margin-right: 10px;
}

.c-t-l .content {
  padding: 0;
}

.content-img img {
  max-width: 100%;
  padding-top: 40px;

  border-top: 1px solid #ebeded;
}
.content1 .content-img {
  padding-bottom: 40px;
}
.content1 .paganition {
  text-align: center;
}
.content-left {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: #a6adb4;
  margin-top: 40px;
}
.content1-right p {
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  color: #202124;
}
.content1 .pagination {
  display: inline-flex;
  margin-top: 75px;
}
.App .footer {
  height: 200px;
  background-color: #a6adb4;
  margin-top: 108px;
  padding-top: 51px;
}
.footer .title-logo {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
}
.footer .footer-menu {
  display: flex;
}
.footer-menu li {
  list-style: none;
  text-align: left;
  font-size: 13px;
  font-weight: bold;
  color: #cbd0d3;
}
.footer .footer-ul {
  flex: 1;
}
.footer-email {
  text-align: center;
  width: 260px;
  margin: 0 auto;
}
.footer-form {
  position: relative;
}
.footer-email .footer-form input {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  height: inherit;
  padding: 10px;
  background: inherit;
}
input::placeholder {
  color: #cbd0d3;
  opacity: 1; /* Firefox */
}

.footer-email .footer-form button {
  background-color: transparent;
  position: absolute;
  top: 0;
  height: inherit;
  right: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  outline: none;
  color: #ffffff;
}
.footer-email p {
  font-size: 11px;
  font-weight: 400px;
  font-weight: 400;
  color: #cbd0d3;
  text-align: left;
  margin-top: 20px;
}
.footer-icon {
  text-align: right;
  margin-right: -35px;
}
.footer-icon i {
  margin-right: 35px;
  color: #fff;
}
.input-moblie {
  display: none;
}
.input-moblie:checked ~ .nav-overlay {
  display: block;
}
.input-moblie:checked ~ h2 {
  color: #be1818;
}
.input-moblie:checked ~ .nav-list {
  transform: translateX(0%);
}
.nav-overlay {
  display: none;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

/* tablet with >=740px and with <1240px */
@media only screen and(min-width:46.25em) and(max-width:63.9375em) {
  .home {
    flex-direction: column;
  }
  .home .img-home {
    width: 662px;
    /* width: 100%; */
  }
}

@media screen and (max-width: 992px) {
  .col.n-g-r {
    flex-basis: 100%;
    padding: 0;
  }
  /* .info-content .input-info {
    padding-top: 85px;
  } */
  .info .input-info {
    padding-top: 85px;
    padding-bottom: 0;
  }
  .input-info.m-t {
    padding: 30px 0;
  }
  .ant-btn.btn-input.m-t {
    margin-bottom: 80px;
  }
  .col-sm.respon {
    flex-basis: 100%;
  }
  .col.n-g-l {
    padding: 0;
  }
  .content-left p {
    width: 279px;
  }
  .content .content-right {
    margin-left: 35px;
  }
  .col-8.c-t-l,
  .col-4.c-t-r {
    max-width: 100%;
    flex: 100%;
  }
  .pagination {
    display: inline-flex;
  }
  .content1-right p {
    border-bottom: 1px solid #ebeded;
    padding-bottom: 40px;
  }
  .App .footer {
    height: 100%;
  }
  .footer-email {
    margin: 0;
  }
  .footer-icon {
    margin-top: 58px;
  }
}

@media screen and (max-width: 768px) {
  .img-home .img-one {
    width: 100%;
  }
  .home .home-icon {
    width: 100%;
  }
  .home-icon .title-home {
    padding: 0 9px;
  }
  .col.n-g-r,
  .col.n-g-l {
    min-height: auto;
    padding: 0;
  }

  .row.no-gutter {
    flex-direction: column;
    padding: 0;
  }
  .info {
    padding: 85px 0;
  }

  .btn-input {
    float: left;
  }
  .col-sm.respon {
    flex-basis: 100%;
  }
  .content-left p {
    width: 279px;
  }
  .row.row-content {
    flex-direction: column;
    align-items: center;
  }
  .content-left p {
    align-items: center;
  }
  .App .footer {
    height: 100%;
  }
  .footer-email {
    margin: 0;
  }
  .footer-icon {
    margin: 60px -35px;

    /* margin-right: -35px; */
  }
  .col-8.c-t-l,
  .col-4.c-t-r {
    max-width: 100%;
  }
}
.status-1 {
  display: none;
}

/* phone */
@media screen and (max-width: 576px) {
  .header {
    display: none;
  }
  .title-home span {
    display: none;
  }
  .status-1 {
    display: block;
  }
  .status {
    display: none;
  }
  .content .content-right {
    margin: 0;
    border-bottom: 1px solid #ebeded;
    padding-bottom: 40px;
  }
  .content .content-left {
    padding-top: 35px;
    border-top: 1px solid #ebeded;
  }
  .content1 .content-img {
    margin-top: 40px;
  }
  .App .footer {
    display: none;
  }

  .nav-mobile {
  }
  .nav-list .nav-logo {
    font-size: 13px;
    font-weight: bold;
    color: #fa6980;
    text-align: left;
    margin-bottom: 60px;
    margin-top: 40px;
    padding-left: 40px;
  }
  .nav__mobile-list {
    text-decoration: none;
    margin-top: 24px;
    text-align: left;
  }
  .nav-footer {
    background-color: #a6adb4;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 40px;
    padding-bottom: 37px;
    padding-top: 58px;
  }
  .nav__moblie-link {
    text-decoration: none;
    display: block;
    font-size: 11px;
    padding-bottom: 20px;
  }
  .nav__moblie-link i {
    margin-right: 30px;
  }
  .nav-footer .nav-footer__list {
    column-count: 2;
    text-align: left;

    line-height: 2.5;
  }
  .nav-footer__icon {
    display: block;
    text-align: left;
  }
  .nav-footer__icon i {
    margin-right: 20px;
  }
  .nav-footer__list li {
    list-style: none;
    font-size: 11px;
    color: #ffffff;
  }
  .nav-mobile .nav__mobile-list {
    padding-left: 40px;
  }
  .nav-footer .nav-footer__list {
  }
  .home .container {
    padding: 0;
  }
}
